.admin-layout { 
  display: flex;
  min-height: 100vh;
  background-color: #f4f6f9;
}

.sidebar {
  width: 260px;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 100;
}

.sidebar-logo {
  display: block;
  margin: 18px auto;
  width: 120px;
  height: auto;
}

/* Sidebar menu */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* Sidebar link */
.sidebar-link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 14px;
  border-radius: 8px;
  color: #374151;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.2s ease;
}

.sidebar-link .icon {
  font-size: 18px;
}

.sidebar-link:hover {
  background-color: #eef2ff;
  color: #1e40af;
}

.sidebar-link.active {
  background-color: #2563eb;
  color: #ffffff;
  font-weight: 600;
}

/* admin main */
 .admin-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.top-navbar {
  height: 64px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  width: 97%;
  padding: 0 24px;
  margin-left: 20px;
}

/* Mobile ke liye remove */
@media (max-width: 768px) {
  .top-navbar {
    margin-left: 0;
  }
}

.admin-content {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .sidebar {
    width: 220px;
    min-width: 220px;
  }
}

/* side bar end */

/* App.css */
.login-page {
  background: linear-gradient(135deg, #6c63ff 0%, #00c6ff 100%);
}

.login-card {
  border-radius: 12px;
  background: #fff;
}

.input-icon {
  position: relative;
}

.input-icon svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #6c757d;
}

.input-icon input {
  padding-left: 2.5rem;
}

.login-btn {
  background-color: #6c63ff;
  border: none;
}

.login-btn:hover {
  background-color: #574fd6;
} 
